<section id="education-section">


    <div class="playfair-display rectangle">
        <h2>EDUCATION</h2>

    </div>

    <%# education content container %>
<div>


<div class="quicksand sliding-img-container">
 <img class="gray-img-effect" src="/images/itlearningcampus.png" alt="">


 <div class="sliding-div">

    <div class="rectangle">

<p><strong>IT LEARNING CAMPUS - FST SETTAT,</strong> <br>2021 - 2022</p>
    <p><u>Licentiate degree</u>, Mobile programming</p>
    </div>
    
 </div>

</div>
<hr>

<div class="quicksand sliding-img-container">
    <img class="gray-img-effect" src="/images/itlearningcampus2.png" alt="">
   
   
    <div class="sliding-div">
        <div class="rectangle">

            <p><strong>IT LEARNING CAMPUS - FST SETTAT,</strong> <br>2022 - 2024</p>
                <p><u>Master degree</u>, application design and development engineering</p>
                </div>
    </div>
   
   </div>
</div>

       





</section>