<section id="education-section">

<hr>
    <div class="playfair-display">
        <h2>EDUCATION</h2>

    </div>
<hr>

    <%# education content container %>
<div>


<div class="quicksand sliding-img-container">
 <img class="gray-img-effect" src="/images/itlearningcampus.png" alt="">


 <div class="sliding-div">
    <p>this is a sliding div with text</p>
    <p>tepkdowkdpw</p>
 </div>

</div>
<hr>

<div class="quicksand sliding-img-container">
    <img class="gray-img-effect" src="/images/itlearningcampus2.png" alt="">
   
   
    <div class="sliding-div">
       <p>this is a sliding div with text</p>
    </div>
   
   </div>
</div>

       





</section>