<section id="experience-section">
  <div>
    <div class="rectangle playfair-display">
      <h2>EXPERIENCE</h2>
    </div>
  </div>
  <div class="experience-div">
    <%# experience 0 paragraph%>
    <div class="quicksand">
      <p class="red-color">Oct 2025 - present</p>
      <p><strong>REACT/REACT NATIVE DEVELOPER, FLEXIAPPS</strong></p>
      <br />
      <p>
        Building and maintaining web applications using React.js and React
        Native. Collaborating with team members to design and
        implement user interfaces, ensuring responsive and intuitive user
        experiences. Implementing best practices for code quality, performance,
        and security. Conducting code reviews and providing constructive
        feedback to team members.
      </p>
    </div>

    <%# experience 0 image%>

    <img class="gray-img-effect" src="/images/flexiappsImage.png" alt="flexiapps image" />

    <%# experience 1 paragraph%>
    <div class="quicksand">
      <p class="red-color">Oct 2021 - Sep 2025</p>
      <p><strong>IT SUPPORT, ROCA S.A Morocco</strong></p>
      <br />
      <p>
        Managing active directory users and groups, effectively communicate with
        regional IT teams to ensure timely and effective resolution of issues
        such as user account management and software access requests. Installing
        and configuring computer hardware, software, systems, networks,
        printers, scanners, BECKHOFF industrial computers, Monitoring and
        maintaining computer systems and networks.
      </p>
    </div>

    <%# experience 1 image%>

    <img class="gray-img-effect" src="/images/img_ROCA.jpg" alt="" />

    <%# experience 2 paraghrap%>
    <div class="quicksand">
      <p class="red-color">Mai 2021 - Jun 2021</p>
      <p><strong>WEB DEV INTERNSHIP, PLATEAU S.A.R.L</strong></p>
      <br />
      <p>
        Built a fully functional E-commerce website using
        HTML,CSS,JAVASCRIPT,PHP,MYSQL. The website displays products that are
        currently for sale in the company, as well as being able to make an
        online order on the plateform.
      </p>
    </div>

    <%# experience 2 image%>

    <img class="gray-img-effect" src="/images/plateauSARL.png" alt="" />
  </div>
</section>
