<section id="experience-section">
    
    <div class="grid-span2">
        <div class="rectangle playfair-display">
            <h2>EXPERIENCE</h2>
           </div>
    </div>
    <div class="experience-div">
        
        <%# experience 1 %>
        <div class="quicksand"> 
            
            <p class="red-color">Oct 2021 - present</p> 
            <p><strong>IT SUPPORT, ROCA S.A Morocco</strong></p>
             <br>
            <p>
     Managing active directory users and groups, effectively communicate with regional IT teams to ensure timely and effective 
     resolution of issues such as user account management and software access requests.  <img class="gray-img-effect"  src="/images/img_ROCA.jpg" alt=""><br><br>
    Installing and configuring computer hardware, software, systems, networks, printers, scanners, BECKHOFF industrial computers, 
     Monitoring and maintaining computer systems and networks.
        </p>
    <br>
       
    </div>
        <%# experience 2 %>
        <div class="quicksand"> 
            
            <p class="red-color">Mai 2021 - Jun 2021</p> 
            <p><strong>WEB DEV INTERNSHIP, PLATEAU S.A.R.L</strong></p>
            <br>
            <p>
                Built a fully functional E-commerce website using HTML,CSS,JAVASCRIPT,PHP,MYSQL. <br>
      <img class="gray-img-effect" src="/images/plateauSARL.png" alt="">The website displays products that are currently
      for sale in the company, as well as being able to make an online order on the plateform.

        </p>
    <br>

    </div>


    </div>

   



</section>