<section id="experience-section">
    

    <div class="experience-div">
        <div class="grid-row-span2">
            <div class="grid-item-image">
                <img
                  class="dotted-effect gray-img-effect"
                  src="/images/profilePicEnhanced-removebg.png"
                  alt=""
                />
              </div>
        </div>
        <div class="grid-span2">
            <div class="rectangle playfair-display">
                <h2>EXPERIENCE</h2>
               </div>
        </div>
        
        <%# experience 1 %>
        <div class="quicksand"> 
            
            <p class="red-color">Oct 2021 - present</p> 
            <p>
     <strong>IT SUPPORT, ROCA S.A Morocco</strong>  <br><br>
     Managing active directory users and groups, effectively communicate with regional IT teams to ensure timely and effective 
     resolution of issues such as user account management and software access requests. <br><br>
    Installing and configuring computer hardware, software, systems, networks, printers, scanners, BECKHOFF industrial computers, 
     Monitoring and maintaining computer systems and networks.
        </p>
    <br>
        <img class="gray-img-effect"  src="/images/img_ROCA.jpg" alt="">
    </div>

        <%# experience 2 %>
        <div class="quicksand"> 
            
            <p class="red-color">Mai 2021 - Jun 2021</p> 
            <p>
     <strong>WEB DEV INTERNSHIP, PLATEAU S.A.R.L</strong>  <br><br>
     Built a fully functional E-commerce website using HTML,CSS,JAVASCRIPT,PHP,MYSQL
        </p>
    <br>
        <img class="gray-img-effect" src="/images/plateauSARL.png" alt="">

        <hr>

        <%# experience 3 %>
        <p class="red-color">March 2022 - Present</p> 
            <p>
     <strong>Game Designer , Freelance</strong>  <br><br>
     Built several games prototypes, focusing on gameplay mechanics and user interaction using Unity 3D , C# and Blender.
        </p>

    </div>


    </div>

   



</section>