<section id="experience-section">
    

    <div class="experience-div">
        <div class="grid-row-span2">
            <div class="grid-item-image">
                <img
                  class="dotted-effect gray-img-effect"
                  src="/images/profilePicEnhanced-removebg.png"
                  alt=""
                />
              </div>
        </div>
        <div class="grid-span2">
            <div class="rectangle playfair-display">
                <h2>EXPERIENCE</h2>
               </div>
        </div>
        
        <div class="rectangle quicksand"><p> 
 
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec in magna venenatis, dapibus massa non, tincidunt elit. 
            Suspendisse efficitur efficitur turpis, vitae pretium urna. Aliquam eu scelerisque elit, a rhoncus sem. Morbi ex ipsum, 
            porta a nibh ut, imperdiet fermentum libero. Sed eleifend posuere egestas. Suspendisse potenti. Pellentesque porta, 
            nunc quis vehicula sodales, ipsum erat imperdiet nisi, a pellentesque magna quam sit amet lacus. Nunc sodales sagittis ex
        </p>
    <hr>
        <img src="/images/img_ROCA.jpg" alt="">
    </div>


        <div class="rectangle quicksand">
            <p> 
 
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec in magna venenatis, dapibus massa non, tincidunt elit. 
                Suspendisse efficitur efficitur turpis, vitae pretium urna. Aliquam eu scelerisque elit, a rhoncus sem. Morbi ex ipsum, 
                porta a nibh ut, imperdiet fermentum libero. Sed eleifend posuere egestas. Suspendisse potenti. Pellentesque porta, 
                nunc quis vehicula sodales, ipsum erat imperdiet nisi, a pellentesque magna quam sit amet lacus. Nunc sodales sagittis ex
            </p>
        </div>
    </div>

   



</section>