<section id="footer-section">

<div class="footer-flex quicksand">


    <p class="grey-color">For any inquiries, collaboration or projects opportunities,</p>
    <p class="grey-color">don't hesitate to reach out to me at</p><br>
    <p>yasloxamine@gmail.com</p>
    <hr class="grey-color"><br>
    <div class="footer-bar"><h2 class="playfair-display">YASLO MOHAMED AMINE</h2><code>@2024 All rights reserved</code></div>
    
</div>




</section>