<%# upper header bar %>
<div class="header-bar">
  <div class="medium-width-square">
    <img class="logo" src="/images/logo.png" alt="" />
  </div>

  <div id="h1-div"><h1 class="playfair-display">MOHAMED AMINE YASLO</h1></div>

  <div class="small-width-square quicksand">
    <p>
      <strong>BASED IN</strong><br />MOROCCO<br /><strong>OPEN TO</strong
      ><br />INTERNATIONAL<br />OPPORTUNITIES
    </p>
  </div>
</div>

<hr />

<%# navigation bar %>
<div class="nav-bar quicksand">
  <div><a class="custom-link" href="">ABOUT</a></div>
  <div><a class="custom-link" href="">TECHNICAL SKILLS</a></div>
  <div><a class="custom-link" href="">EXPERIENCE</a></div>
  <div><a class="custom-link" href="">EDUCATION</a></div>
  <div><a class="custom-link" href="">PROJECTS</a></div>
  <div><a class="custom-link" href="">CURRENTLY LEARNING</a></div>

  <div><a class="custom-link red-color" href="">GET IN TOUCH</a></div>
</div>

<hr />
