<%# upper header bar %>
<div class="header-bar">
  <div class="medium-width-square">
    <img class="logo" src="/images/logo.png" alt="" />
  </div>

  <div id="h1-div"><h1 class="playfair-display">MOHAMED AMINE YASLO</h1></div>

  <div class="small-width-square quicksand">
    <p>
      <strong>BASED IN</strong><br />MOROCCO<br /><strong>OPEN TO</strong
      ><br />INTERNATIONAL<br />OPPORTUNITIES
    </p>
  </div>
</div>



