<%# navigation bar %>
<hr />
<div class="nav-bar quicksand">
  <div><a class="custom-link" href="#about-section">ABOUT</a></div>
  <div><a class="custom-link" href="#technical-skills-section">TECHNICAL SKILLS</a></div>
  <div><a class="custom-link" href="#experience-section">EXPERIENCE</a></div>
  <div><a class="custom-link" href="#education-section">EDUCATION</a></div>
  <div><a class="custom-link" href="">PROJECTS</a></div>

  <div><a class="custom-link red-color" href="">GET IN TOUCH</a></div>
</div>

<hr />