<section id="project-section">

  
    <%# flexbox div container in vertical direction that will contain projects %>
    <div class="projects-div rectangle">
    
        <div class="playfair-display">
<h2>PROJECTS</h2>
        </div>
<hr>
        <%# project 1 %>
        <div class="project-flex">
            <p>A small WebApp that gives users some steam/pc games deals in real time, this WebApp is built using node,ejs,js,
                express and CheapShark public api</p>
            <p>By building this web app i enhanced my knowledge in API's by implementing a public one provided by CheapShark.
                this api provided me with realtime data about steam games that are in discount</p>

            <img class="gray-img-effect" src="/images/itlearningcampus.png" alt="">

        </div>

        <%# project 2 %>
        <div class="project-flex-black">
            <p>A small WebApp that gives users some steam/pc games deals in real time, this WebApp is built using node,ejs,js,
                express and CheapShark public api</p>
            <p>By building this web app i enhanced my knowledge in API's by implementing a public one provided by CheapShark.
                this api provided me with realtime data about steam games that are in discount</p>

            <img class="gray-img-effect" src="/images/itlearningcampus.png" alt="">

        </div>

        <%# project 3 %>
        <div class="project-flex">
            <p>A small WebApp that gives users some steam/pc games deals in real time, this WebApp is built using node,ejs,js,
                express and CheapShark public api</p>
            <p>By building this web app i enhanced my knowledge in API's by implementing a public one provided by CheapShark.
                this api provided me with realtime data about steam games that are in discount</p>

            <img class="gray-img-effect" src="/images/itlearningcampus.png" alt="">

        </div>

        <%# project 4 %>
        <div class="project-flex-black">
            <p>A small WebApp that gives users some steam/pc games deals in real time, this WebApp is built using node,ejs,js,
                express and CheapShark public api</p>
            <p>By building this web app i enhanced my knowledge in API's by implementing a public one provided by CheapShark.
                this api provided me with realtime data about steam games that are in discount</p>

            <img class="gray-img-effect" src="/images/itlearningcampus.png" alt="">

        </div>
        
     
    

    </div>



</section>