<section id="project-section">

  
    <%# flexbox div container in vertical direction that will contain projects %>
    <div class="projects-div rectangle quicksand">
    
        <div class="playfair-display">
<h2>PROJECTS</h2>
        </div>
<hr>
        <%# project 1 %>
        <div class="project-flex">
          
                <p>A small WebApp that gives users some steam/pc games deals in real time, this WebApp is built using node,ejs,js,
                express and CheapShark public api, building this web app allowed me to enhanced my knowledge in API's by implementing a public one provided by 
                CheapShark.
                </p>

                <p>
                this api provided me with realtime data about steam games that are in discount, the source code for this web app is 
                available <a target="_blank" href="https://github.com/yasloxamine/DealHeal">"click here to access the github project 
                    repo"</a>, also i made it live for testing at <a target="_blank" href="https://dealheal.onrender.com">on render 
                        website</a>
                        </p>


                <img class="gray-img-effect" src="/images/itlearningcampus.png" alt="">
            
                        

            

        </div>

        <%# project 2 %>
        <div class="project-flex-black">



                <p>A small WebApp that gives users some steam/pc games deals in real time, this WebApp is built using node,ejs,js,
                express and CheapShark public api, building this web app allowed me to enhanced my knowledge in API's by implementing a public one provided by 
                CheapShark.
                A small WebApp that gives users some steam/pc games deals in real time, this WebApp is built using node,ejs,js,
                express and CheapShark public api, building this web app allowed me to enhanced my knowledge in API's by implementing a public one provided by 
                CheapShark.
                A small WebApp that gives users some steam/pc games deals in real time, this WebApp is built using node,ejs,js,
                express and CheapShark public api, building this web app allowed me to enhanced my knowledge in API's by implementing a public one provided by 
                CheapShark.</p>


                <p>
                this api provided me with realtime data about steam games that are in discount, the source code for this web app is 
                available <a target="_blank" href="https://github.com/yasloxamine/DealHeal">"click here to access the github project 
                    repo"</a>, also i made it live for testing at <a target="_blank" href="https://dealheal.onrender.com">on render 
                        website</a>
                        this api provided me with realtime data about steam games that are in discount, the source code for this web app is 
                        available <a target="_blank" href="https://github.com/yasloxamine/DealHeal">"click here to access the github project 
                            repo"</a>, also i made it live for testing at <a target="_blank" href="https://dealheal.onrender.com">on render 
                                website</a>
                                this api provided me with realtime data about steam games that are in discount, the source code for this web app is 
                                available <a target="_blank" href="https://github.com/yasloxamine/DealHeal">"click here to access the github project 
                                    repo"</a>, also i made it live for testing at <a target="_blank" href="https://dealheal.onrender.com">on render 
                                        website</a></p>
 


                <img class="gray-img-effect" src="/images/itlearningcampus.png" alt="">


        </div>

        <%# project 3 %>
        <div class="project-flex">
          
                <p>A small WebApp that gives users some steam/pc games deals in real time, this WebApp is built using node,ejs,js,
                express and CheapShark public api, building this web app allowed me to enhanced my knowledge in API's by implementing a public one provided by 
                CheapShark.
                A small WebApp that gives users some steam/pc games deals in real time, this WebApp is built using node,ejs,js,
                express and CheapShark public api, building this web app allowed me to enhanced my knowledge in API's by implementing a public one provided by 
                CheapShark.
                A small WebApp that gives users some steam/pc games deals in real time, this WebApp is built using node,ejs,js,
                express and CheapShark public api, building this web app allowed me to enhanced my knowledge in API's by implementing a public one provided by 
                CheapShark.</p>

                <p>
                this api provided me with realtime data about steam games that are in discount, the source code for this web app is 
                available <a target="_blank" href="https://github.com/yasloxamine/DealHeal">"click here to access the github project 
                    repo"</a>, also i made it live for testing at <a target="_blank" href="https://dealheal.onrender.com">on render 
                        website</a>
                        this api provided me with realtime data about steam games that are in discount, the source code for this web app is 
                        available <a target="_blank" href="https://github.com/yasloxamine/DealHeal">"click here to access the github project 
                            repo"</a>, also i made it live for testing at <a target="_blank" href="https://dealheal.onrender.com">on render 
                                website</a>
                                this api provided me with realtime data about steam games that are in discount, the source code for this web app is 
                                available <a target="_blank" href="https://github.com/yasloxamine/DealHeal">"click here to access the github project 
                                    repo"</a>, also i made it live for testing at <a target="_blank" href="https://dealheal.onrender.com">on render 
                                        website</a></p>


                <img class="gray-img-effect" src="/images/itlearningcampus.png" alt="">
            
                        

            

        </div>

        <%# project 4 %>
        
        <div class="project-flex-black">



            <p>A small WebApp that gives users some steam/pc games deals in real time, this WebApp is built using node,ejs,js,
            express and CheapShark public api, building this web app allowed me to enhanced my knowledge in API's by implementing a public one provided by 
            CheapShark.
            A small WebApp that gives users some steam/pc games deals in real time, this WebApp is built using node,ejs,js,
            express and CheapShark public api, building this web app allowed me to enhanced my knowledge in API's by implementing a public one provided by 
            CheapShark.
            A small WebApp that gives users some steam/pc games deals in real time, this WebApp is built using node,ejs,js,
            express and CheapShark public api, building this web app allowed me to enhanced my knowledge in API's by implementing a public one provided by 
            CheapShark.</p>


            <p>
            this api provided me with realtime data about steam games that are in discount, the source code for this web app is 
            available <a target="_blank" href="https://github.com/yasloxamine/DealHeal">"click here to access the github project 
                repo"</a>, also i made it live for testing at <a target="_blank" href="https://dealheal.onrender.com">on render 
                    website</a>
                    this api provided me with realtime data about steam games that are in discount, the source code for this web app is 
                    available <a target="_blank" href="https://github.com/yasloxamine/DealHeal">"click here to access the github project 
                        repo"</a>, also i made it live for testing at <a target="_blank" href="https://dealheal.onrender.com">on render 
                            website</a>
                            this api provided me with realtime data about steam games that are in discount, the source code for this web app is 
                            available <a target="_blank" href="https://github.com/yasloxamine/DealHeal">"click here to access the github project 
                                repo"</a>, also i made it live for testing at <a target="_blank" href="https://dealheal.onrender.com">on render 
                                    website</a></p>



            <img class="gray-img-effect" src="/images/itlearningcampus.png" alt="">


    </div>
     
    

    </div>



</section>