<section id="technical-skills-section">
    <div class="rectangle playfair-display">
     <h2>TECHNICAL SKILLS ROADMAP</h2>
    </div>
 
    <%# first roadmap line %>
    <div class="roadmap quicksand">
       <div class="roadmap-square">
         <span class="hover-skill-text">HTML 5</span>
          <img src="/images/roadMapIcons/html-5.jpg" alt="">
       </div>
       <div class="roadmap-square">
        <span class="hover-skill-text">CSS 3</span>
         <img src="/images/roadMapIcons/css-3.png" alt="">
       </div>
       <div class="roadmap-square">
        <span class="hover-skill-text">JAVASCRIPT</span>
        <img src="/images/roadMapIcons/js.png" alt="">
       </div>
       <div class="roadmap-square">
        <span class="hover-skill-text">BOOTSTRAP</span>
        <img src="/images/roadMapIcons/Bootstrap.png" alt="">
       </div>
       <div class="roadmap-square">
        <span class="hover-skill-text">JQUERY</span>
         <img src="/images/roadMapIcons/jquery.png" alt="">
       </div>
       <div class="roadmap-square">
        <span class="hover-skill-text">EXPRESS.JS</span>
         <img src="/images/roadMapIcons/express.png" alt="">
       </div>
       <div class="roadmap-square">
        <span class="hover-skill-text">NODE.JS</span>
         <img src="/images/roadMapIcons/node.png" alt="">
      </div>
      <div class="roadmap-square">
        <span class="hover-skill-text">REST API</span>
    <img src="/images/roadMapIcons/restApi.png" alt="">
    </div>
    <div class="roadmap-square">
        <span class="hover-skill-text">C SHARP</span>
     <img src="/images/roadMapIcons/csharp.png" alt="">
  </div>
  <div class="roadmap-square">
   
 </div>
 
 <div>
   <div class="vertical-roadmap-line">
   </div>
 </div>
    </div>

   <%# second roadmap line %>
    <div class="roadmap quicksand">
      <div class="roadmap-head">
      <img src="/images/roadMapIcons/leftArrow.png" alt="">
    </div>
      <div class="roadmap-square">
       <span class="hover-skill-text">CSS 3</span>
        <img src="/images/roadMapIcons/css-3.png" alt="">
      </div>
      <div class="roadmap-square">
       <span class="hover-skill-text">JAVASCRIPT</span>
       <img src="/images/roadMapIcons/js.png" alt="">
      </div>
      <div class="roadmap-square">
       <span class="hover-skill-text">BOOTSTRAP</span>
       <img src="/images/roadMapIcons/Bootstrap.png" alt="">
      </div>
      <div class="roadmap-square">
       <span class="hover-skill-text">JQUERY</span>
        <img src="/images/roadMapIcons/jquery.png" alt="">
      </div>
      <div class="roadmap-square">
       <span class="hover-skill-text">EXPRESS.JS</span>
        <img src="/images/roadMapIcons/express.png" alt="">
      </div>
      <div class="roadmap-square">
       <span class="hover-skill-text">NODE.JS</span>
        <img src="/images/roadMapIcons/node.png" alt="">
     </div>
     <div class="roadmap-square">
       <span class="hover-skill-text">REST API</span>
   <img src="/images/roadMapIcons/restApi.png" alt="">
   </div>
   <div class="roadmap-square">
       <span class="hover-skill-text">C SHARP</span>
    <img src="/images/roadMapIcons/csharp.png" alt="">
 </div>
 <div class="roadmap-square">
  
</div>

<%# this empty div is to make space for the vertical line and not display a square in top of it %>
<div></div>

   </div>
    
     </section>