<section id="technical-skills-section">
    <div class="rectangle playfair-display">
     <h2>TECHNICAL SKILLS ROADMAP</h2>
    </div>
 
    <%# first roadmap line %>
    <div class="roadmap quicksand">
       <div class="roadmap-square">
         <span class="hover-skill-text">HTML 5</span>
          <img src="/images/roadMapIcons/html-5.jpg" alt="">
       </div>
       <div class="roadmap-square">
        <span class="hover-skill-text">CSS 3</span>
         <img src="/images/roadMapIcons/css-3.png" alt="">
       </div>
       <div class="roadmap-square">
        <span class="hover-skill-text">JAVASCRIPT</span>
        <img src="/images/roadMapIcons/js.png" alt="">
       </div>
       <div class="roadmap-square">
        <span class="hover-skill-text">BOOTSTRAP</span>
        <img src="/images/roadMapIcons/Bootstrap.png" alt="">
       </div>
       <div class="roadmap-square">
        <span class="hover-skill-text">JQUERY</span>
         <img src="/images/roadMapIcons/jquery.png" alt="">
       </div>
       <div class="roadmap-square">
        <span class="hover-skill-text">EXPRESS.JS</span>
         <img src="/images/roadMapIcons/express.png" alt="">
       </div>
       <div class="roadmap-square">
        <span class="hover-skill-text">NODE.JS</span>
         <img src="/images/roadMapIcons/node.png" alt="">
      </div>
      <div class="roadmap-square">
        <span class="hover-skill-text">GIT/GITHUB</span>
         <img src="/images/roadMapIcons/gitgithub.png" alt="">
      </div>
      <div class="roadmap-square">
        <span class="hover-skill-text">REST API</span>
    <img src="/images/roadMapIcons/restApi.png" alt="">
    </div>
    <div class="roadmap-square">
        <span class="hover-skill-text">C SHARP</span>
     <img src="/images/roadMapIcons/csharp.png" alt="">
  </div>
  <div class="roadmap-square">
   <span class="hover-skill-text">C++</span>
   <img src="/images/roadMapIcons/c++.png" alt="">
 </div>
 
 <div>
   <div class="vertical-roadmap-line">
   </div>
 </div>
    </div>

   <%# second roadmap line %>
    <div class="roadmap quicksand">
      <div class="roadmap-head gray-img-effect">
      <img src="/images/roadMapIcons/leftArrow.png" alt="">
    </div>
      <div class="roadmap-square gray-img-effect">
       <span class="hover-skill-text">INFINITE LEARNING</span>
        <img src="/images/roadMapIcons/infinity.png" alt="">
      </div>
      <div class="roadmap-square gray-img-effect">
       <span class="hover-skill-text">AI/ML</span>
       <img src="/images/roadMapIcons/aiml.png" alt="">
      </div>
      <div class="roadmap-square gray-img-effect">
       <span class="hover-skill-text">NFT DEV</span>
       <img src="/images/roadMapIcons/nft.png" alt="">
      </div>
      <div class="roadmap-square gray-img-effect">
       <span class="hover-skill-text">CRYPTO TOKENS</span>
        <img src="/images/roadMapIcons/crypto.png" alt="">
      </div>
      <div class="roadmap-square gray-img-effect">
       <span class="hover-skill-text">WEB3:Dapps</span>
        <img src="/images/roadMapIcons/dApp.jpg" alt="">
      </div>
      <div class="roadmap-square gray-img-effect">
        <span class="hover-skill-text">FIREBASE DATABASE</span>
         <img src="/images/roadMapIcons/firebase.png" alt="">
      </div>
      <div class="roadmap-square gray-img-effect">
       <span class="hover-skill-text">REACT NATIVE</span>
        <img src="/images/roadMapIcons/reactnative.png" alt="">
     </div>
     <div class="roadmap-square gray-img-effect">
       <span class="hover-skill-text">REACT.JS</span>
   <img src="/images/roadMapIcons/reactjs.png" alt="">
   </div>
   <div class="roadmap-square gray-img-effect">
       <span class="hover-skill-text">POSTGRE SQL</span>
    <img src="/images/roadMapIcons/postgresql.png" alt="">
 </div>
 <div class="roadmap-square gray-img-effect">
  <span class="hover-skill-text">SQL</span>
  <img src="/images/roadMapIcons/sql.png" alt="">
</div>

<%# this empty div is to make space for the vertical line and not display a square in top of it %>
<div></div>

   </div>
   <hr>
    <p class="quicksand">CURRENTLY ENHANCING SKILLS AND FUTURE GOALS</p>


    <p class="subtitle-text quicksand">IDE AND TOOLS KNOWLEDGE</p>

    <%# tools and ide marquee container %>
    <div class="rectangle marquee">
        
        <span>
             <img class="roadmap-square" src="/images/roadMapIcons/blender.png" alt="">
             <img class="roadmap-square" src="/images/roadMapIcons/sonyvegas.png" alt="">
             <img class="roadmap-square" src="/images/roadMapIcons/unity.png" alt="">
             <img class="roadmap-square" src="/images/roadMapIcons/androidstudio.png" alt="">
             <img class="roadmap-square" src="/images/roadMapIcons/vscode.png" alt="">
        </span>
    </div>
    
     </section>