<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="icon" href="/images/logo.png" />

    <%# using the google fonts link %>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Quicksand:wght@300..700&display=swap"
      rel="stylesheet"
    />

    <%# using the css link %>
    <link rel="stylesheet" href="/styles/main.css" />

    <title>YASLO MOHAMED AMINE, WEB/MOBILE DEV | GAME DESIGNER</title>
  </head>
  <body>
    <%- include("partials/header.ejs") %>

    <section id="about-section">
      <div class="about-div">
        <div class="grid-item-content">
          <h2>Web And Mobile Developer <br> Unity Game Designer</h2>
          <p class="subtitle-text quicksand">BUILDING HIGH QUALITY MULTILINGUAL <br> APPS FOR YOUR ORGANISATION</p>
          <div class="wide-bg-btn-div"><a class="wide-bg-btn quicksand" href="">GET IN TOUCH</a></div>
        </div>
        <div class="grid-item-image">
          <img class="gray-img-effect" src="/images/profilePicEnhanced-removebg.png" alt="" />
        </div>
      </div>
    </section>
  </body>
</html>
