/****************************TAGS*********************************/
body {
  margin: 0;
  background-color: #f5efe6;
}
hr {
  margin: 20px 0px;
  border: solid 0.5px black;
}

p {
  margin: 0;
}

h1,
h2,
.subtitle-text,h3 {
  text-align: center;
  font-size: 5rem;
  margin: 0;
}

h2{
  font-size: 3rem;
}

img {
  width: 100%;
}

/*****************************CLASSES AND IDS*********************************/

.playfair-display {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.quicksand {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.header-bar,
.nav-bar {
  display: flex;
  justify-content: space-between;
}

.logo {
  height: 170px;
  width: 100%;
}

.medium-width-square,
.small-width-square {
  width: 170px;
  height: 170px;
  border: solid 0.5px black;
}

.small-width-square {
  text-align: center;
  align-content: center;
  width: 135px;
}

.custom-link,
.wide-bg-btn {
  text-decoration: none;
  background-color: transparent; /* Initial color */
  color: black;
  transition: background-color 0.5s ease, color 0.5s ease; /* Smooth transition */
  padding: 5px;
  text-align: center;
}

.custom-link:hover {
  background-color: black; /* Target color on hover */
  color: white;
}

.red-color {
  color: rgb(153, 0, 0);
}

.about-div,
.contact-div{
  display: grid;
  grid-template-columns: 1fr 1fr;
  /*grid-template-columns: minmax(660px,1fr) minmax(600px,1fr);*/
  column-gap: 2%;
  row-gap: 20px;
}

.contact-div {
  text-align: center;
  align-items: center;
}

.about-div > .contact-div {
  border: none;
}

.contact-div > a {
  border: solid 0.5px black;
}
.contact-div > .custom-link {
  position: relative;
}

.contact-div > a > svg {
  position: absolute;
  left: 3px;
  top: 3px;
  height: 25px;
  width: 25px;
}

.grid-item-content {
  text-align: center;
  align-content: center;
}

.subtitle-text {
  font-size: 2rem;
  margin: 10% 0;
}

.gray-img-effect {
  filter: grayscale(100%);
  transition: .3s ease-in-out;
}

.gray-img-effect:hover{
  filter: grayscale(0%);
}

.wide-bg-btn-div {
  background-color: rgb(153, 0, 0);
  margin: 0 0.2rem;
  padding: 20px;
  transition: background-color 0.5s ease, color 0.5s ease; /* Smooth transition */
}

.wide-bg-btn-div:hover {
  background-color: black; /* Target color on hover */
}

.wide-bg-btn {
  color: white;
}

#socials-link {
  background-color: rgb(153, 0, 0);
  color: white;
  border: none;
}

#socials-link:hover {
  background-color: black; /* Target color on hover */
}

#h1-div,
.grid-item-content,
.rectangle {
  align-content: center;
  border: solid 0.5px black;
  padding: 0 40px;
}

.rectangle {
  padding: 40px;
}

/*used padding 0px for grid-item-image below the previous one for priority purposes*/
.grid-item-image {
  padding: 0px;
}

.grid-span2 {
  grid-column: span 2;
}

.grid-row-span2{
  grid-row: span 2;
}

.grid-column-start-2 {
  grid-column: 2/3;
}

.dotted-effect {
  background: radial-gradient(circle, black 1px, transparent 1px);
  background-size: 5px 5px; /* Adjust to control dot size and spacing */
  background-blend-mode: multiply;
}

#technical-skills-section{
  text-align: center;
  margin-top: 20px;
}

.roadmap{
  display: flex;
  justify-content: space-between;
  background-color: black;
  margin: 100px 80px 20px;
  height: 5px;
}

.roadmap-square{
  width: 40px;
  height: 40px;
  background-color: #f5efe6;
  border: solid 1px black;
  position: relative;
  bottom: 23px;
  padding: 5px;
  border-radius: 0.5rem;
  transition: background-color 0.5s ease, color 0.5s ease; /* Smooth transition */
}

.roadmap-square:hover{
  background-color: black;
}

.roadmap-head{
  width: 75px;
  height: 75px;
  position: relative;
  bottom: 35px;
  right: 60px;
}

.roadmap>.roadmap-square>img{
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
}

.hover-skill-text{
  visibility: hidden;
  text-align: left;
  width: 50px;
  opacity: 0;
  position: absolute;
  bottom: 55px;
  font-size: 12px;
  transition: opacity 0.3s;
}

/* Show tooltip text on hover */
.roadmap-square:hover .hover-skill-text {
  visibility: visible;
  opacity: 1;
}

.vertical-roadmap-line{
  border: solid 0.5px black;
  height: 105px;
  width: 5px;
  background-color: black;
}

#technical-skills-section>hr{
  margin: 40px 220px 0px 200px;
}

#technical-skills-section>.subtitle-text,#footer-section{
  margin: 40px 0px 0px;
}

#technical-skills-section .rectangle:nth-of-type(4){
  margin: 20px 10% 40px;
  padding: 40px;
height: 10px;
border-top: none;
border-bottom: none;
}

.marquee {
  overflow: hidden; /* Hide overflowing text */
  white-space: nowrap; /* Prevent text from wrapping */
}


.marquee span {
  display: inline-block;
  padding-left: 10%; /* Start from outside the container */
  animation: scrollText 20s linear infinite; /* Apply the animation */
}

span>.roadmap-square{
  margin: 0px 10px;
  width: 150px;
  height: 50px;
  border-radius: 0px;
  background-color: black;
}

.black-bg{
  background-color: black;
}

#experience-section,#education-section,#project-section,.header-bar{
  margin: 40px 40px 0;
}

#about-section,#technical-skills-section,hr,.nav-bar,.footer-flex{
  margin-left: 40px;
  margin-right: 40px;
}

.experience-div{
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 50px;
  row-gap: 20px;
  margin-top: 40px;
  line-height: 1.5;
}

.experience-div>div>p>img{
  width: 300px;
  float: left;
  margin: 10px 10px 0 0;
}


.sliding-img-container{
  position: relative;
  overflow: hidden;
  display: inline-block;
  width: 40%;
}

/* Sliding div initial state */
.sliding-div {
  position: absolute;
  bottom: -100%; /* Hide the sliding div below the container */
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7); /* Slightly transparent background */
  color: white; /* Text color */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  transition: bottom 0.5s ease; /* Smooth slide effect */
  padding: 10px; /* Add some padding inside the div */
  box-sizing: border-box; /* Ensures padding doesn’t affect width/height */
}

/* Hover effect */
.sliding-img-container:hover .sliding-div {
  bottom: 0; /* Slide the div up into view */
}

#education-section>div:nth-of-type(2){
  margin-top: 40px;
  display: flex;
  justify-content: space-evenly;
  gap: 30px;
}

#education-section>div:nth-of-type(2)>div>img{
  width: 100%;
  background-size: cover;
}

#education-section>div:nth-of-type(2)>div>.sliding-div>.rectangle{
  border: solid 0.5px white;
  height: 50%;
  width: 60%;
}

.about-div>.rectangle,.experience-div>.quicksand>p,.project-grid>p,.project-grid-black>p{
  text-align: justify;
}

.projects-div,#footer-flex{
  
  border: solid 4px black;

  display: flex;
  flex-direction: column;

  
}


.project-grid,.project-grid-black{
  display: grid;
  grid-template-columns: 0.5fr 0.5fr 1fr;
  gap: 3%;
  padding: 40px;
}


.project-grid-black,#footer-section{
  background-color: black;
  color: #f5efe6;
  
}

.project-grid>p,.project-grid-black>p{
  line-height: 1.7;
}

.project-grid>img,.project-grid-black>img{
  width: 100%;
}

.project-grid>p>a{
  text-decoration: none;
}

.footer-flex>hr{
  border: solid 0.5px #f5efe6;
}

.footer-flex{
  text-transform: uppercase;
}

#footer-section{
  padding-top: 40px;
  line-height: 1.5;
}

.footer-bar{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.footer-flex>h2{
  text-align: left;
}

.footer-flex>hr{
  border: solid 0.5px grey;
}

.grey-color{
  color: grey;
}

/****************************KEYFRAMES********************************/

@keyframes scrollText {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}


/****************************MEDIA*********************************/

@media (max-width: 1420px){

  .projects-div>.project-grid,.projects-div>.project-grid-black{
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
  }

  .projects-div>.project-grid>img,.projects-div>.project-grid-black>img{
    grid-column:  span 2;
  }

  .contact-div{
    padding: 20px;
  }

h1{
  font-size: 4rem;
}
}

@media (max-width: 1230px) {
  .contact-div{
grid-template-columns: 1fr;
row-gap: 10px;
  }
  h1{
    font-size: 3rem;
  }
  .grid-item-content>h2{
    font-size: 2.5rem;
  }

  .grid-item-content>.subtitle-text{
    font-size: 1.5rem;
    margin: 20px 0;
  }


}

@media (max-width: 1050px){
  h1{
    font-size: 2rem;
  }
.grid-item-content>h2{
  font-size: 2rem;
}
.grid-item-content>.subtitle-text{
  font-size: 1rem;
}

}

@media (max-width: 870px){

  #experience-section,#education-section,#project-section,.header-bar{
    margin: 20px 20px 0;
  }
  
  #about-section,#technical-skills-section,hr,.nav-bar,.footer-flex{
    margin-left: 20px;
    margin-right: 20px;
  }

  #h1-div{
    width: 250px;
    padding: 0;
  }

  .nav-bar{
    flex-wrap: wrap;
    gap: 30px;
  }

  .experience-div{
    grid-template-columns: 1fr;
    row-gap: 40px;
  }

}


